{% extends "admin/base_app.html" %}
{% load core i18n %}

{% block title %}{% trans "Projects" %} | {{ block.super }}{% endblock %}

{% block content %}
{% block section_body %}
    <h1>Suggestions</h1>
    <form>
      <table>
	<thead>
	  <tr>
	    <th></th>
	    <th colspan="1" class="back-button">
	      {% if suggestions.has_previous %}
	      <a href="?page={{ suggestions.previous_page_number }}">back</a>
	      {% endif %}
	    </th>
	    <th colspan="2">
              <span class="current">
		Page {{ suggestions.number }} of {{ suggestions.paginator.num_pages }}.
              </span>
	    </th>
	    <th colspan="1" class="forward-button">
	      {% if suggestions.has_next %}
	      <a href="?page={{ suggestions.next_page_number }}">forward</a>
	      {% endif %}
	    </th>
	  </tr>
	  <tr>
	    <th />
	    <th colspan="4">
	      Search by user
	      <select id="filter-user">
		<option>-----</option>
		{% for username, fullname in users %}
		<option value="{{ username }}">
		  {% if fullname.strip %}
		  {{ fullname }} ({{ username }})
		  {% else %}
		  {{ username }}
		  {% endif %}
		</option>
		{% endfor %}
	      </select>
	      Results per page
	      <input type="number" id="paginator-number" value="{{ suggestions.paginator.per_page }}" />
	    </th>
	  </tr>
	  <tr>
	    <th>
	      <input type="checkbox" />
	    </th>
	    <th>
	      Source
	    </th>
	    <th>
	      Suggestion
	    </th>
	    <th>
	      Suggested by
	    </th>
	    <th>
	      Suggested at
	    </th>
	  </tr>
	</thead>

	<tbody>
	  {% for suggestion in suggestions %}
	  <tr>
	    <td>
	      <input type="checkbox" />
	    </td>
	    <td>
	      <a href="{{ suggestion.unit.store.get_translate_url }}?unit={{ suggestion.unit.pk }}">{{ suggestion.unit.source }}
	      </a>
	    </td>
	    <td>
	      {{ suggestion }}
	    </td>
	    <td>
	      {{ suggestion.user }}
	    </td>
	    <td>
	      {{ suggestion.creation_time }}
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
	<tfoot>
	  <tr>
	    <td />
	    <td colspan="4">
	      With selected:
	      <select>
		<option>-----</option>
		<option>accept</option>
		<option>reject</option>
	      </select>
	      Comment <input type="text" />
	    </td>
	  </tr>
	</tfoot>
      </table>
    </form>

{% endblock %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Projects" %}</li>
{% endblock %}

<script type="text/javascript">

	var paginator_obj = dgi('paginator_number');
	var user_obj = dgi('filter-user');
	paginator_obj.addEventListener('change', function(e){
		var val = e.target.value;
		val = val || 10 ;
		var newURL = updateURLParameter(window.location.href, 'perpage', val);
		window.location.href = newURL;
	}, false);

	user_obj.addEventListener('change', function(e){
		var elem = e.target;
		var val = (-1 != elem.selectedIndex) ? elem.options[elem.selectedIndex] : '';
		var newURL = updateURLParameter(window.location.href, 'filteruser', val);
		window.location.href = newURL;

	}, false);

	/**
	 * Shorthand for Get Element By ID
	 * @param  {String} s Element ID
	 * @return {Element}   Element Object
	 */
	function dgi(s)
		return document.getElementById(s);

	/**
	 * Minor Fixes Applied to the following
	 * If we use jQuery, this could be replaced with a shorter code.
	 * http://stackoverflow.com/a/10997390/1306046
	 */
	function updateURLParameter(url, param, paramVal) {
	    var TheAnchor = null;
	    var newAdditionalURL = "";
	    var tempArray = url.split("?");
	    var baseURL = tempArray[0];
	    var additionalURL = tempArray[1];
	    var temp = "";

	    if (additionalURL) 
	    {
	        var tmpAnchor = additionalURL.split("#");
	        var TheParams = tmpAnchor[0];
	            TheAnchor = tmpAnchor[1];
	        if(TheAnchor)
	            additionalURL = TheParams;

	        tempArray = additionalURL.split("&");

	        for (var i=0; i<tempArray.length; i++)
	        {
	            if(tempArray[i].split('=')[0] != param)
	            {
	                newAdditionalURL += temp + tempArray[i];
	                temp = "&";
	            }
	        }        
	    }
	    else
	    {
	        var tmpAnchor = baseURL.split("#");
	        var TheParams = tmpAnchor[0];
	            TheAnchor  = tmpAnchor[1];

	        if(TheParams)
	            baseURL = TheParams;
	    }

	    if(TheAnchor)
	        paramVal += "#" + TheAnchor;

	    var rows_txt = temp + "" + param + "=" + paramVal;
	    return baseURL + "?" + newAdditionalURL + rows_txt;
	}
	
</script>